@using Ankh.Data
<div class="card lg:card-side bordered rounded-box shadow-lg my-4 flex flex-col w-full lg:flex-row bg-accent-content">
    <div class="grid flex-grow place-items-center h-80 lg:w-1/2">
        <figure>
            <img class="object-cover" src="@Room.Image">
        </figure>
    </div>

    <div class="grid flex-grow place-items-center bg-neutral">
        <div class="card-body items-center w-full">
            <h2 class="card-title">@Room.Name</h2>
            <div class="container">
                <p>
                    Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.
                </p>
            </div>
            <div class="card-actions">
                <div class="flex lg:flex-row gap-2">
                    <NavLink class="btn btn-primary btn-wide" href="@Room.Url">Join</NavLink>
                    <label for="@Room.Id" class="btn btn-primary modal-button btn-wide">More Info</label>
                    <input type="checkbox" id="@Room.Id" class="modal-toggle">
                    <div class="modal">
                        <div class="modal-box">
                            <p>@(string.IsNullOrWhiteSpace(Room.Description) ? "😓 No description provided!" : Room.Description)</p>
                            <div class="modal-action">
                                <label for="@Room.Id" class="btn">Close</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public RoomData Room { get; set; }
}